.popup__error {
  display: block;
  width: 358px;
  min-height: 12px;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  text-align: left;
  align-self: flex-start;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 501px) {
  .popup__error {
    width: 238px;
  }
}
