.profile__avatar-button{
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0);
  border: none;
  height: 120px;
  width: 120px;
  position: absolute;
}

.profile__avatar-button:hover{
  background-color: rgba(0,0,0,0.6);
  opacity: .7;
  background-image: url(../../../images/PenForAvatar.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
