.element__basket {
  margin: 0;
  padding: 0;
  display: block;
  width: 19px;
  height: 19px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url(../../../images/Basket.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__basket:hover {
  opacity: 0.5;
}
