.element__title {
  margin: 0;
  padding: 0 10px 0 0;
  width: calc(100% - 25px);
  height: 23px;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 801px) {
  .element__title {
    font-size: clamp(16px, 3vw, 24px);
    width: calc(100% - 5px);
  }
}

@media screen and (max-width: 501px) {
  .element__title {
    font-size: 24px;
    width: calc(100% - 25px);
  }
}
