.element__hart_active {
  margin: 30px 20px;
  padding: 0;
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url(../../../../images/Hart.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;


}

