.content {
  margin: 0;
  width: 68.75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  align-content: center;
}

/*@media screen and (max-width: 1025px) {
  .content {
    width: 115%;
  }
}

@media screen and (max-width: 801px) {
  .content {
    width: 110%;
  }
}*/

@media screen and (max-width: 501px) {
  .content {
    width: 282px;
  }
}
