.popup__heading {
  margin: 34px auto 54px 36px;
  padding: 0;
  width: 330px;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 0.95;
  color: #000;
}

@media screen and (max-width: 501px) {
  .popup__heading {
    margin: 25px auto 75px 22px;
    width: 238px;
    font-size: 18px;
    line-height: 1.22;
  }
}
