.elements {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(170px, 1fr));
  grid-template-rows: 1fr;
  row-gap: 20px;
  column-gap: 17px;
  list-style: none;
}

@media screen and (max-width: 801px) {
  .elements {
    grid-template-columns: repeat(2, minmax(170px, 1fr));
  }
}

@media screen and (max-width: 501px) {
  .elements {
    width: 282px;
    grid-template-columns: 1fr;
  }
}
