.profile__add-button {
  margin: 0;
  padding: 0;
  width: clamp(110px, 13.5vw, 150px);
  height: 50px;
  background-color: #000;
  border: 1px solid #fff;
  background-image: url(../../../images/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 801px) {
  .profile__add-button {
    width: 100%;
    background-size: 16px;
  }
}
