.element__deleteSubmit {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  background: rgb(213, 14, 14);
  border: none;
  cursor: pointer;
  position:fixed;
  top: 450px;
  left: 100px;
  z-index: 5;
}

@media screen and (max-width: 501px) {
  .element__deleteSubmit {
    width: 238px;
    height: 46px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.21;
  }
}
