.element__hart {
  margin: 30px 20px;
  padding: 0;
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url(../../../images/Hartwhite.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.element__hart:hover {
  opacity: 0.5;
}

/*.element__hart:active {
  background-image: url(../../../images/Hart.svg);
}*/

@media screen and (max-width: 501px) {
  .element__hart {
    margin-left: 5px;

  }
}
