.logo {
  margin-left: 0;
  margin-right: auto;
  padding: 0;
  width: 142px;
  height: 33px;
  color: #ffffff;
}

@media screen and (max-width: 501px) {
  .logo {
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}


