.rectangle__hart {
   margin: 30px 20px;
  padding: 0;
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url(../../../images/Hartwhite.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;

}

.rectangle__hart:active {
  background-image: url(../../../images/Hart.svg);
}

@media screen and (max-width: 751px){
  .rectangle__hart {
    margin: 30px 15px;
  padding: 0;
  width: 22px;
  height: 19px;

}
}
