.element__description {
  margin: 25px 15px 31px 21px;
  padding: 0;
  max-width: 282px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
