.form__button_disabled {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000;
 cursor: pointer;
  color: #000000;
  opacity: .2;
}

.form__button_disabled:hover {
opacity: .2;
transition: opacity .3s linear;
}


@media screen and (max-width: 501px) {
  .form__button_disabled {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.21;
  }
}







