.form__input-area {
  margin:0;
  padding: 0 0 12px 0;
  width: 100%;
 height: 14px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px; /* в проекте указана величина 16,94px. Использование данного размера невозможно т.к. приводит к увеличению высоты элемента и PixelPerf будет не совпадать*/
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:nth-of-type(1) {
  margin: 48px 0 0 0;
}

.popup__input:nth-of-type(2) {
  margin: 0 0 0 0;
}
