.profile-info__userName {
  margin: 0 18px 16px 0;
  padding: 0;
  /* width: 294px; */
  width: clamp(240px, 31vw, 294px);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(36px, 6vw, 42px);
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 801px) {
  .profile-info__userName {
    margin: 26px 0 14px;
    font-size: clamp(24px, 6vw, 42px);
    width: 80%;
    text-align: center;
    z-index: 1;
  }
}

@media screen and (max-width: 501px) {
  .profile-info__userName {
    margin: 26px 0 9px;
    font-size: 27px;
    line-height: 1.22;
  }
}
