.form__button_disabled {
  display: block;
  background-color: #ffffff;
  border: 1px solid #000;
  color: #000000;
  opacity: 0.2;
  pointer-events: none;

}

.form__button_disabled:hover {
  opacity: 0.8;
}


@media screen and (max-width: 501px) {
  .form__button_disabled {
  }
}
