.header {
  margin: 0;
  padding: 0;
  width: 68.75%;
  min-height: 74px;
  color: #fff;
  background-color: #000;
  /*border-bottom: 1px solid rgba(84, 84, 84, 0.7);*/  /* ЗАМЕНИЛ НА ЭЛЕМЕНТ С ТЕГОМ <hr> */
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
}


@media screen and (max-width: 501px) {
  .header {
    width: 100%;
    min-height: 56px;
  }
}
